@tailwind base;
@tailwind components;
@tailwind utilities;

th,
td {
    @apply py-1.5 px-2.5 border border-slate-500;
}

.dataTables_length select {
    @apply w-20;
}

.date-picker {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer;
}

.date-picker-btn {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}

/* TODO: redundant, but we should decide if this is the styling for all buttons */
.btn {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}

th.dt-center,
td.dt-center {
    text-align: center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animated-spin {
    animation: spin 1s linear infinite;
}

tr:hover .employee-svg {
    @apply text-white;
}

#refresh-svg {
    @apply stroke-gray-400 fill-gray-400;
}

#refresh-svg:hover {
    @apply stroke-white fill-white;
} 